{# filepath: /Users/macbookpro/GESTIONSTOCK/templates/admin/products.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Gestion des Produits{% endblock %}

{% block body %}
    <h1>Gestion des Produits</h1>
    <p>Cette page permet de gérer les produits.</p>
{% endblock %}