/* body {
    font-family: Arial, sans-serif;
    background-color: #ec3c3c;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    color: #3d3838;
}

#inventory-table {
    margin: 20px auto;
    width: 80%;
    border-collapse: collapse;
}

.inventory {
    width: 100%;
    border: 1px solid #ddd;
}

.inventory th, .inventory td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.inventory th {
    background-color: #f4f4f4;
} */