{# filepath: /Users/macbookpro/GESTIONSTOCK/templates/public/equipements.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Nos équipements{% endblock %}

{% block body %}
    <h1>Nos équipements</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Catégorie</th>
                <th>Prix</th>
            </tr>
        </thead>
        <tbody>
            {% for equipement in equipements %}
                <tr>
                    <td>{{ equipement.id }}</td>
                    <td>{{ equipement.name }}</td>
                    <td>{{ equipement.categorie ? equipement.categorie.nom : '' }}</td>
                    <td>{{ equipement.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}